html, body{
    margin: 0;
    padding: 0;
    background-color: black;
}

body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
}

.logotipo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.separador{
    height: 60px;
}
.enlaces{
    display: flex;
    align-items: center;
    justify-content: center;
}

.enlaces .link {
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(69, 1, 255);
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}


.container .card{
    width: 330px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(4, 0, 255, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(183, 0, 255, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
}

/*Titulo*/
.container .card h3 {
    font-weight: 600;
    color: rgba(183, 0, 255, 0.61)
}

/*DESCRIPCCION*/
.container .card h5 {
    font-weight: 400;
    color:rgba(183, 0, 255, 0.61);

}

/*TEXTO*/
.container .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    color: rgb(0, 110, 255);
}

/*BOTON*/
.container .card a {
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #3498db;
    border: 1px solid #3498db;
    border-radius: 4px;
}

.trucos-noticias{
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-around;
    position: relative;
    top: 650px;
}

.trucos-noticias .trucos{
    color: #3498db;

}

.trucos-noticias .noticias {
    color: #3498db;

}



.container2 {
    width: 100%;
    max-width: 800px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin: auto;
}

.textarea {
    justify-content: left;
}

